<% unless @disable_nav == true %>
<ul class="bxslider">

<% @rand_itineraries.each do |itinerary| %>
  <%# binding.pry %>
  <li class="images">"<%= itinerary.title %>" by <%#= itinerary.user.name %><br>

  <a href="/itineraries/<%= itinerary.id %>"><img src="<%= itinerary.img_url %>" width="30%"></a><br>
  <%#= itinerary.is_copy %></li>
<% end %>

</ul>
<% end %>