<div class="titlez">
<h1 class="itineraries-index">Itineraries Index</h1>
</div>
<br>

<%= render 'slideshow' %>

<br>

<button><%= link_to 'Post a new itinerary', new_itinerary_path %></button><br>


