<div>
  <a href="/itineraries">Itineraries</a>
</div>

<div><h1><%= @itinerary.title %></h1><br></div>

<div>
  <img src="<%= @itinerary.img_url %>" width='400px'>
  <br>
  <%= @itinerary.description %>
</div>