<% unless @disable_nav == true %>
<ul class="bxslider">

  <% @rand_items.each do |item| %>

  <li class="images"><%= item.name %><br>

    <a href="/items/<%= item.id %>"> <img src="<%= item.img_url %>" width="30%"></a><br>

    <!-- <a href="/itineraries/<%#= itinerary.id %>"><img src="<%#= item.img_url %>" width="30%"></a><br> -->
    <%#= itinerary.is_copy %></li>
  <% end %>

  </ul>
<% end %>