<% unless @disable_nav == true %>
<ul class="bxslider">

  <% @rand_items.each do |item| %>

  <%= item.name %><br>

    <a href="/items/<%= item.id %>"> <img id="bx-center" src="<%= item.img_url %>" width="30%"></a><br>

  <% end %>

  </ul>
<% end %>