.itin-container
  @include outer-container

.itin-title
  @include span-columns(4)
  font-family: Helvetica
  min-width: 350px
  height: 20%
  font-size: 35px
  margin-bottom: 20px
  display: block
  color: #00253B
  @include fill-parent

////////////
// SLIDER //
////////////

.itineraries-index
  margin-top: 12px
  font-size: .8em

.itin-slideshow
  @include span-columns(12)
  margin: 0 auto
  padding: 20px

.bxslider
  text-align: center
  li
    display: inline-block
    text-align: center
    font-family: helvetica

.bx-wrapper
  img
    display: inline-block
    text-align: center
  text-align: center
  display: inline-block

#bx-center
  text-align: center
  display: inline-block

//////////////////
// BELOW SLIDER //
//////////////////

.itin-inside-box
  @include span-columns(3)
  @include omega(4n)
  margin-top: 24px
  margin-bottom: 24px
  h2
    font-family: Helvetica
    font-size: 18px
    height: 40px
  h3
    font-family: Helvetica
    font-size: 12px

.itin-content
  margin-top: 12px
  margin-bottom: 8px
  font-family: Helvetica
  height: 190px
  a
    display: block
  img
    width: 255px
    height: 150px
    overflow: contain
    margin-bottom: -8px

