.itin-show-container
  @include outer-container
  margin-bottom: 20px

.itin-title.show
  @include span-columns(11)
  @include omega()
  margin-bottom: 10px

.itin-user
  @include span-columns(4)
  margin-left: 3%
  margin-bottom: 2%

.col-four
  @include span-columns(4)

.itin-show-edit
  @include span-columns(6)

  img
    width: 100%
    height: auto

button.red-red-btn.sm
  font-family: Helvetica
  width: 55px
  height: 25px
  margin-bottom: 10px
  a
    font-size: small

.itin-show-box
  @include span-columns(11)

div.check-box
  width: 8%

.add-this
  display: inline-block

.itin-show-desc
  margin-bottom: 25px
  font-family: Gotham
  font-size: 18px

.hidden
  display: none

  li.block



.each-itin-item
  @include span-columns(3)
  @include omega(4n)
  h2
    font-family: Gotham
    font-size: 25px

.item-content
  margin-top: 18px
  a
    display: block
  img
    width: 100%
    height: auto


//////////////////////////////
// DASHBOARD ITINERARY SHOW //
//////////////////////////////


