@font-face
  font-family: 'deutsche_normalschriftregular'
  src: url('deutsche_normalschrift_a.eot')
  src: url('deutsche_normalschrift_a.eot?#iefix') format('embedded-opentype'), url(font-path('deutsche_normalschrift_a.woff')) format('woff'), url(font-path('deutsche_normalschrift_a.ttf')) format('truetype'), url(font-path('deutsche_normalschrift_a.svg#deutsche_normalschriftregular')) format('svg')
  font-weight: normal
  font-style: normal

$white: #ffffff

%scripty-font
  font-family: 'deutsche_normalschriftregular'

.clearfix, %clearfix
  &:after
    content: ""
    display: table
    clear: both

///////////////
// ALL PAGES //
///////////////

.container
  @include outer-container
  max-width: 100%
  height: 75px

.one-col
  @include span-columns(1)

.two-col
  @include span-columns(2)

.four-col
  @include span-columns(4)

///////////////
// NAV BAR   //
///////////////

header
  min-width: 860px
  width: 100%
  background-color: #00253B


  .gp-logo
    @include span-columns(3)
    @extend %scripty-font
    color: $white
    font-size: 45px
    margin-top: 9px
    margin-left: 3%
    float: left
    min-width: 300px
    a:link
      color: $white
      text-decoration: none
    a:visited
      text-decoration: none
      color: $white
    a:hover
      color: $white
      text-decoration: none
    a:active
      color: $white
      text-decoration: none

  .nav-bar-right
    @include span-columns(4)
    @extend Helvetica
    margin-right: 2%
    margin-top: 20px
    font-size: 18px
    color: rgba(235, 235, 240, 1)
    line-height: 130%
    float: right
    min-width: 435px

    a
      font-size: 18px
      color: $white
    a:link
      color: $white
      text-decoration: none
    a:visited
      text-decoration: none
    a:hover
      text-decoration: underline
    a:active
      text-decoration: underline

