@font-face
  font-family: 'deutsche_normalschriftregular'
  src: url('deutsche_normalschrift_a.eot')
  src: url('deutsche_normalschrift_a.eot?#iefix') format('embedded-opentype'), url(font-path('deutsche_normalschrift_a.woff')) format('woff'), url(font-path('deutsche_normalschrift_a.ttf')) format('truetype'), url(font-path('deutsche_normalschrift_a.svg#deutsche_normalschriftregular')) format('svg')
  font-weight: normal
  font-style: normal

$white: #ffffff

%scripty-font
  font-family: 'deutsche_normalschriftregular'

.clearfix, %clearfix
  &:after
    content: ""
    display: table
    clear: both

///////////////
// ALL PAGES //
///////////////

.container
  @include outer-container
  max-width: 100%
  height: 75px

.one-col
  @include span-columns(1)

.two-col
  @include span-columns(2)

.four-col
  @include span-columns(4)



