.clearfix, %clearfix
  &:after
    content: ""
    display: table
    clear: both

///////////////////
// WELCOME INDEX //
///////////////////

body
  background-color: rgba(15,10,5,.01)

.welcome-container
  @include outer-container
  .login-page-wrapper
    @include span-columns(6)
    @include shift(3)
    background-color: rgba(0,0,0,.4)
    padding: 10px
    border-radius: 10px
    margin-top: 5%
  .gp-title
    margin: 0 auto
    display: block
    max-width: 300px
  .login-page-container
    width: 100%


.login-form-box
  @include span-columns(6)
  @include shift(3)
  z-index: -1
  background-color: rgba(230, 230, 230, 0.01)
  padding: 20px
  border-radius: 5%
  h2
    font-size: 50px
    color: #00000F  
    text-align: center
    padding-bottom: 15px

.login-form
  margin-top: 5%
  margin-right: 18%
  input
    border-radius: 5px

.login-btn
  font-size: 25px

.login-btn img
  width: 40%
  margin-top: 3%

#important
  display: inline-block

.spacer
  margin-left: 8%
  margin-top: 2%

#fb-button
  text-align: center
  margin-top: 1%
  @include span-columns(6)
  @include shift(3)
  img
    width: 200px

// .movin-right.red-red-btn-sm
//   margin-right: 2%