.user-show-container
  @include outer-container

// .user-itin-box
//   @include span-columns(3)
//   @include omega(4n)

.inside-user-content
  @include span-columns(3)
  @include omega(4n)
  margin: 3%
  h2
    font-family: Gotham
    font-size: 25px
    margin: 3%

.user-content
  margin-top: 18px
  a
    display: block
  img
    width: 100%
    height: auto



