.user-show-container
  @include outer-container

// .user-itin-box
//   @include span-columns(3)
//   @include omega(4n)

.inside-user-content
  @include span-columns(3)
  @include omega(4n)
  h3
    font-family: Gotham
    font-size: 25px

.user-content
  margin-top: 18px
  a
    display: block
  img
    width: 100%
    height: auto

.nav-toggle
  position: fixed
  bottom: 20px
  right: 20px

.edit-dash
  float: right

.new-itinerary
  margin-bottom: 15px

.itin-show-edit-sm
  display: inline-block
  margin-top: 2%
  text-align: center

.red-red-btn-sm
  font-size: 18px
  font-family: Gotham
  margin-top: 18px
  color: $white
  background-color: $red
  border-radius: 5px
  width: 70px
  height: 20px
  border: none
  margin: 0
  padding: 0
  display: inline-block
  a
    color: $white
  a:link
    color: $white
    text-decoration: none
  a:visited
    color: $white
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline

// .edit-dash
//   background-color: white
//  border: 1px solid grey
//   margin: 5px
//   padding: 20px

.red-red-btn.copy
  margin: 10px

