@font-face
  font-family: 'deutsche_normalschriftregular'
  src: url('deutsche_normalschrift_a.eot')
  src: url('deutsche_normalschrift_a.eot?#iefix') format('embedded-opentype'), url(font-path('deutsche_normalschrift_a.woff')) format('woff'), url(font-path('deutsche_normalschrift_a.ttf')) format('truetype'), url(font-path('deutsche_normalschrift_a.svg#deutsche_normalschriftregular')) format('svg')
  font-weight: normal
  font-style: normal

$white: #ffffff

%scripty-font
  font-family: 'deutsche_normalschriftregular'

.clearfix, %clearfix
  &:after
    content: ""
    display: table
    clear: both

.gp-title
  width: 50%
  margin-left: 25%
  margin-top: 2%

.login-page-container
  width: 30%
  margin-left: 36%
  margin-top: 2%

.login-form-box
  background-color: rgba(230, 230, 230, 0.65)
  //width: 600px;
  //margin-left: 130px;
  //margin-top: 40px
  padding: 20px
  border-radius: 5%
  h2
    font-size: 50px
    color: #00000F
    text-align: center
    padding-bottom: 15px

.login-form
  text-align: center

.login-btn
  font-size: 25px

.login-btn img
  width: 25%
  margin-top: 3%

#important
  display: inline-block

input
  width: 25%
  display: inline-block
  //padding: 5px
  font-size: 15px
  //text-shadow: 0px 1px 0px #fff
  outline: none
  //background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(white))
  //background: -moz-linear-gradient(top, #bcbcbe, white)
  //-webkit-border-radius: 3px
  //-moz-border-radius: 3px
  //border-radius: 3px
  //border: 1px solid #717171


#fb-button
  margin-top: 15%
  margin-left: 39%
  width: 8%

/////////////////
// TOP NAV BAR //
/////////////////

.nav-bar-main
  min-width: 800px
  max-width: 1440px

.gp-logo
  @extend %scripty-font
  color: $white
  font-size: 45px
  margin-left: 3%
  padding-top: 15px
  display: inline-block


////////////////////////////
// ITINERARIES INDEX PAGE //
////////////////////////////

.itin-container
  max-width: 1440px
  min-width: 805px

.itin-title
  font-family: Helvetica
  height: 20%
  font-size: 35px
  margin-left: 3%
  margin-bottom: 20px
  display: block
  color: #00253B

.itin-slideshow
  margin-left: 3%
  margin-right: 3%

.itin-inside-box
  margin-left: 3%
  margin-bottom: 35px
  h2
    font-size: 23px
    margin-bottom: 10px
    color: #00253B
    font-family: Helvetica
  .itin-desc
    font-family: Gotham
    line-height: 130%
    width: 66%
    display: inline-block
    font-size: 16px
    margin-left: 10px
    margin-right: 5px
    color: #858585

.itin-content
  @extend %clearfix

.itin-img
  width: 32%
  float: left
  text-align: left
  margin-bottom: 10px
  img
    width: 95%

///////////////////////////
// ITINERARIES SHOW PAGE //
///////////////////////////

.itin-show-container
  max-width: 1440px
  min-width: 500px

.itin-show-edit
  margin-bottom: 20px
  margin-left: 3%
  font-weight: bold
  font-size: 20px
  font-family: Gotham
  a
    color: black
  a:link
    text-decoration: none
  a:visited
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline

.itin-show-title
  font-family: Gotham
  height: 20%
  font-size: 45px
  margin-left: 3%
  font-weight: strong

.add-this
  margin-left: 3%
  margin-bottom: 15px

.itin-show-img
  margin-left: 3%
  margin-bottom: 25px

.itin-show-desc
  font-family: Helvetica
  line-height: 145%
  margin-left: 3%
  margin-bottom: 35px
  margin-right: 3%

.copy-add-item
  margin-left: 3%
  font-weight: bold
  font-size: 20px
  font-family: Gotham
  margin-bottom: 50px
  a
    color: black
  a:link
    text-decoration: none
  a:visited
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline

.post-new
  margin-left: 3%
  font-weight: bold
  font-size: 20px
  font-family: Gotham
  margin-bottom: 50px
  a
    color: $white
    font-size: 16px
  a:link
    text-decoration: none
  a:visited
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline
  button
    background-color: #C52326
    border-radius: 5px
    width: 135px
    height: 60px
    border: none
    margin: 0
    padding: 0

.copy-itinerary
  margin-left: 3%
  font-weight: bold
  font-size: 20px
  font-family: Gotham
  margin-bottom: 50px
  a
    color: white
    font-size: 16px
  a:link
    text-decoration: none
  a:visited
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline
  button
    background-color: #C52326
    border-radius: 5px
    width: 135px
    height: 60px
    border: none
    margin: 0
    padding: 0

///////////////////////////
// INTINERARY PAGE ITEMS //
///////////////////////////

.itin-show-info
  margin-left: 3%

.itin-item-name
  font-family: Helvetica
  font-size: 23px
  margin-bottom: 10px

.itin-item-desc
  font-family: Gotham
  font-size: 14px
  line-height: 130%


/////////////////////////////
// NEW ITINERARY FORM PAGE //
/////////////////////////////

.new-itinerary-page
  max-width: 1440px
  min-width: 700px

.new-itinerary-page
  h1
    margin-left: 5%
    font-size: 25px
    font-family: Gotham
    margin-bottom: 20px

.itin-form
  font-family: Helvetica
  font-size: 18px
  margin-left: 5%

.create-itin-btn
  font-weight: bold
  font-size: 20px
  font-family: Gotham
  margin-top: 20px
  a
    font-size: 16px
    color: $white
  a:link
    color: $white
    text-decoration: none
  a:visited
    text-decoration: none
  a:hover
    text-decoration: underline
  a:active
    text-decoration: underline
  input
    color: $white
    background-color: #C52326
    border-radius: 5px
    width: 135px
    height: 60px
    border: none
    margin: 0
    padding: 0
  button
    color: $white
    background-color: #C52326
    border-radius: 5px
    width: 135px
    height: 60px
    border: none
    margin: 0
    padding: 0

////////////
// SLIDER //
////////////

.bxslider
  text-align: center
  li
    display: inline-block
    text-align: center

.bx-wrapper
  img
    display: inline-block
    text-align: center
  text-align: center
  display: inline-block

#bx-center
  text-align: center
  display: inline-block

.nav-bar-main
  background-color: #00253B
  min-height: 85px
  max-height: 30%

.nav-bar-right
  @extend Helvetica
  max-width: 40%
  min-width: 30%
  margin-right: 2%
  margin-top: 20px
  font-size: 18px
  float: right
  color: rgba(235, 235, 240, 1)
  line-height: 130%

.gp-title-nav
  max-height: 6%
  min-width: 2%
  margin-left: 3%
  margin-top: 20px

.nav-bar-right a
  color: rgba(235, 235, 240, 1)

.sharer-small
  max-width: 3%
  margin-bottom: 1%

.add-this
  margin-left: 0%
